/* Split the screen in half */
body {
  position: relative;
  width: 100%;
  background-color: #F5F9FC !important;
}

li {
  display:block;
}

li a {
  text-decoration: none;
  color: #000000;
  display:block;
  margin: 0px;
  padding: 1rem;
}

li a span {
  vertical-align: middle;
  margin-left: 0.5rem;
}

li a.main-nav-item:hover {
  background-color: #F5F9FC !important;
  font-size: 1.25rem;
}

.table>:not(caption)>*>*  {
  padding: 0.5rem 1rem !important;
  
}

td:not(:first-child) {
  min-width: 100px !important;
}

.active {
  background-color: #F5F9FC !important;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background: linear-gradient(to top, transparent, #1E9CFF),
      url("../images/background.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .login-logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #FFFFFF;
    padding: 0 20px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .login-form {
    margin: auto;
  }

  .login-input {
    height: 70px;
  }

  .sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 100%;
  }

  .info-block {
    width: 280px;
    height: 180px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-right: 1.25rem;
    padding: 1rem;
  }

  .info-container {
    margin-left: 18rem;
    margin-top: 2rem;
  }

  .dropdown-item:hover {
    background-color: #F5F9FC !important;
  }

  .single-delete-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .dataTables_info {
    margin-left: 18px;
  }

  .dataTables_filter {
    margin: 0 1.5rem 1rem 0;
  }

  .paginate_button {
    border-radius: 5px !important;
  }

  .dataTables_length {
    margin-left: 18px;
  }

  .sorting_disabled {
    width: 25px !important;
  }

  .dt-body-center {
    min-width: 150px !important;
  }

  .alert-message {
    position: absolute;
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }

  .form-control:disabled {
    background-color: #FFFFFF !important;
  }

  .view-button span {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .view-button span:hover {
   background-position: 0;
  }

  .edit-button span {
    background-image: linear-gradient(
      to right,
      #ffc107,
      #ffc107 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .edit-button span:hover {
   background-position: 0;
  }

  .single-delete-button span {
    background-image: linear-gradient(
      to right,
      #dc3545,
      #dc3545 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .single-delete-button span:hover {
   background-position: 0;
  }
